<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
<dict>
<key>question_format</key>
<string>edu.usc.ict.npc.editor.model.processor.text.TextProcessorProvider</string>
<key>recordingQuestions</key>
<false/>
<key>answer_format</key>
<string>edu.usc.ict.npc.editor.model.processor.text.TextProcessorProvider</string>
<key>answers</key>
<array>
</array>
<key>questions</key>
<array>
</array>
<key>trainingOnTestQuestions</key>
<false/>
<key>version</key>
<integer>4</integer>
<key>keepingLinkEstimatesUpdated</key>
<false/>
<key>map</key>
<array>
</array>
<key>categories</key>
<array>
<dict>
<key>chatEditingAllowed</key>
<false/>
<key>answerCategory</key>
<false/>
<key>readOnly</key>
<true/>
<key>classifierCategory</key>
<false/>
<key>name</key>
<string>Train/Test</string>
<key>ID</key>
<string>train_test</string>
<key>tokens</key>
<array>
<dict>
<key>name</key>
<string>Training</string>
<key>ID</key>
<string>train</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>name</key>
<string>Test</string>
<key>ID</key>
<string>test</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
</array>
<key>answerEditingAllowed</key>
<false/>
<key>questionCategory</key>
<true/>
<key>questionEditingAllowed</key>
<false/>
<key>answerColumnVisible</key>
<false/>
<key>questionColumnVisible</key>
<false/>
</dict>
<dict>
<key>chatEditingAllowed</key>
<false/>
<key>answerCategory</key>
<true/>
<key>readOnly</key>
<true/>
<key>classifierCategory</key>
<false/>
<key>name</key>
<string>Dialog State</string>
<key>ID</key>
<string>dialogState</string>
<key>tokens</key>
<array>
<dict>
<key>description</key>
<string>Do not change dialog state</string>
<key>name</key>
<string>none</string>
<key>ID</key>
<string>none</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>Add tokens for undefined categories to the state, do not change the existing categories</string>
<key>name</key>
<string>add</string>
<key>ID</key>
<string>add</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>Add tokens replacing existing category values</string>
<key>name</key>
<string>set</string>
<key>ID</key>
<string>set</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>Clear dialog state and then set it to given tokens</string>
<key>name</key>
<string>reset</string>
<key>ID</key>
<string>reset</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
</array>
<key>answerEditingAllowed</key>
<false/>
<key>questionCategory</key>
<false/>
<key>questionEditingAllowed</key>
<false/>
<key>answerColumnVisible</key>
<false/>
<key>questionColumnVisible</key>
<false/>
</dict>
<dict>
<key>chatEditingAllowed</key>
<false/>
<key>answerCategory</key>
<false/>
<key>readOnly</key>
<true/>
<key>classifierCategory</key>
<false/>
<key>name</key>
<string>Tone</string>
<key>ID</key>
<string>tone</string>
<key>tokens</key>
<array>
<dict>
<key>name</key>
<string>Down</string>
<key>ID</key>
<string>down</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>name</key>
<string>Flat</string>
<key>ID</key>
<string>flat</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>name</key>
<string>Up</string>
<key>ID</key>
<string>up</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
</array>
<key>answerEditingAllowed</key>
<false/>
<key>questionCategory</key>
<true/>
<key>questionEditingAllowed</key>
<false/>
<key>answerColumnVisible</key>
<false/>
<key>questionColumnVisible</key>
<false/>
</dict>
<dict>
<key>chatEditingAllowed</key>
<false/>
<key>answerCategory</key>
<false/>
<key>readOnly</key>
<true/>
<key>classifierCategory</key>
<false/>
<key>name</key>
<string>Emotion</string>
<key>ID</key>
<string>emotion</string>
<key>tokens</key>
<array>
<dict>
<key>name</key>
<string>Neutral</string>
<key>ID</key>
<string>neutral</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>name</key>
<string>Negative</string>
<key>ID</key>
<string>negative</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
</array>
<key>answerEditingAllowed</key>
<false/>
<key>questionCategory</key>
<true/>
<key>questionEditingAllowed</key>
<false/>
<key>answerColumnVisible</key>
<false/>
<key>questionColumnVisible</key>
<false/>
</dict>
<dict>
<key>chatEditingAllowed</key>
<false/>
<key>answerCategory</key>
<true/>
<key>readOnly</key>
<true/>
<key>classifierCategory</key>
<false/>
<key>name</key>
<string>Toss</string>
<key>ID</key>
<string>toss</string>
<key>tokens</key>
<array>
</array>
<key>answerEditingAllowed</key>
<false/>
<key>questionCategory</key>
<false/>
<key>questionEditingAllowed</key>
<false/>
<key>answerColumnVisible</key>
<false/>
<key>questionColumnVisible</key>
<false/>
</dict>
<dict>
<key>chatEditingAllowed</key>
<false/>
<key>answerCategory</key>
<true/>
<key>readOnly</key>
<true/>
<key>classifierCategory</key>
<false/>
<key>name</key>
<string>Type</string>
<key>ID</key>
<string>type</string>
<key>tokens</key>
<array>
<dict>
<key>description</key>
<string>alternative</string>
<key>name</key>
<string>alternative</string>
<key>ID</key>
<string>alternative</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>brushoff</string>
<key>name</key>
<string>brushoff</string>
<key>ID</key>
<string>brushoff</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>conceal</string>
<key>name</key>
<string>conceal</string>
<key>ID</key>
<string>conceal</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>content</string>
<key>name</key>
<string>content</string>
<key>ID</key>
<string>content</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>delayed</string>
<key>name</key>
<string>delayed</string>
<key>ID</key>
<string>delayed</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>opaque</string>
<key>name</key>
<string>opaque</string>
<key>ID</key>
<string>opaque</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>pre repeat</string>
<key>name</key>
<string>prerepeat</string>
<key>ID</key>
<string>pre repeat</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>repeat</string>
<key>name</key>
<string>repeat</string>
<key>ID</key>
<string>repeat</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>toss</string>
<key>name</key>
<string>toss</string>
<key>ID</key>
<string>toss</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>unknown</string>
<key>name</key>
<string>unknown</string>
<key>ID</key>
<string>unknown</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>unrelated</string>
<key>name</key>
<string>unrelated</string>
<key>ID</key>
<string>unrelated</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>opening</string>
<key>name</key>
<string>opening</string>
<key>ID</key>
<string>opening</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>closing</string>
<key>name</key>
<string>closing</string>
<key>ID</key>
<string>closing</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
<dict>
<key>description</key>
<string>once</string>
<key>name</key>
<string>once</string>
<key>ID</key>
<string>once</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
</array>
<key>answerEditingAllowed</key>
<true/>
<key>questionCategory</key>
<false/>
<key>questionEditingAllowed</key>
<false/>
<key>answerColumnVisible</key>
<true/>
<key>questionColumnVisible</key>
<false/>
</dict>
<dict>
<key>chatEditingAllowed</key>
<false/>
<key>answerCategory</key>
<true/>
<key>readOnly</key>
<false/>
<key>classifierCategory</key>
<false/>
<key>name</key>
<string>Addressee</string>
<key>ID</key>
<string>addressee</string>
<key>tokens</key>
<array>
<dict>
<key>name</key>
<string>user</string>
<key>ID</key>
<string>user</string>
<key>colorAsInt</key>
<integer>0</integer>
</dict>
</array>
<key>answerEditingAllowed</key>
<true/>
<key>questionCategory</key>
<false/>
<key>questionEditingAllowed</key>
<false/>
<key>answerColumnVisible</key>
<true/>
<key>questionColumnVisible</key>
<false/>
</dict>
</array>
<key>dialog_manager</key>
<dict>
<key>param</key>
<dict>
</dict>
<key>class</key>
<string>edu.usc.ict.npc.editor.dialog.ClassifierDialogSessionManager</string>
</dict>
<key>evaluationFrameworkProvider</key>
<dict>
<key>class</key>
<string>edu.usc.ict.npc.editor.model.EvaluationFrameworkProvider$MeanFScoreEvaluationFramework</string>
</dict>
<key>loggingConversations</key>
<false/>
</dict>
</plist>
